<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container" style="margin: auto;">
        <div class="head">
            <h1>The Greeting App</h1>
        </div>

        {{!--
        <div class="please">
            <h5>Please enter your name</h5><br>
        </div> --}}

        <div class="rose">{{msg}}</div>

        {{#if messages.info}}
        <div class="emptyform">
            <h1> {{messages.info}}</h1>
        </div>
        {{/if}}

        {{#if messages.key}}
        <div class="emptyform1 green-text">
            <h1> {{messages.key}}</h1>
        </div>
        {{/if}}

        <span class="emptyform   red-text" name="errorArea"></span><br><br>
        <span class="empty yel-text"></span><br><br>

        <form action="/greet" method="POST">

            <div class="area" style="display: flex;">
                <div class="count yellow-text">
                    <p style="font-size: 20px;"><b> Counter :{{counter}}</b></p>

                </div>
                <div>

                    <input id="text" class="nameString" name="enterName" placeholder="Enter your name here"><br>

                </div>


            </div>
            <div class="row">
                <h5 style="font-size: 16px; ">Please select a language</h5>
                <div class="radioBtn">

                    <label class="radios">
                        <input type="radio" name="language" class="languageRadio" value="IsiXhosa">
                        <span class="label-body">IsiXhosa</span>
                    </label>
                    <label class="">
                        <input type="radio" name="language" class="languageRadio" value="Swahili">
                        <span class="label-body">Swahili</span>
                    </label>
                    <label class="">
                        <input type="radio" name="language" class="languageRadio" value="French">
                        <span class="label-body">French</span>
                    </label>
                </div>
                <div class="greetbtn pressor">
                    <button class="button-primary greetBtn" type="submit" name="button">Greet
                        Me</button><br>
                    <button class="button-primary actionBtn" formaction="/greetings" on type="submit"
                        name="buttonName">Greeted Names</button><br>
                    <button class="button-primary actionBtn" formaction="/counterReset" on type="submit"
                        name="buttonNames" value="buttonNames">Reset Counter</button><br>
                    {{!-- <button class="button-primary resetBtn" on type="button" name="button">Reset</button> --}}
                </div>


            </div>

        </form>

    </div>



</body>

</html>